body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-part{
    background-color: #F0FFF0;
    padding-bottom: 40px;
}

.last-part{
    background-color: #F0FFF0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;

}

.green-button{
    text-decoration: none;
    background-color: #21B573;
    padding: 12px 28px;
    border-radius: 33px;
    color: white;
}

.mail-button{
    border: none;
    background-color: #21B573;
    padding: 12px 28px;
    border-radius: 33px;
    color: white;
}

.green-button:hover{
    color: white;
    text-decoration: none;
}

.navbar-custom{
    font-weight: 700;
    color: black;
}

.container{
    margin-bottom: 40px;
    border: 1px solid red;
}

.illustration img{
    width: 90%;
}

.gray-text{
    color: gray;
}

.top-text{
    margin-bottom: 20px;
}

.margin-top-text{
    margin-top: 50px;
}

.black-header h1{
    font-weight: bolder;
    font-size: 48px;
}

.green-header{
    color: #21B573 ;
}

.orange-text{
    color: #FD511A;
    font-size: 16px;
}

.mid-part{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.testimonial h1{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.online-courses h1{
    font-size: 36px;
    font-weight: bolder;
    color: #413960;
    text-align: center;
}

.course-card{
    border-radius: 18px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border: none;
}

.info-card{
    border-radius: 10px;
    background-color: #F8FFFB;
    border: none;
}

.info-card-special{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border: none;
}

.info-icon{
    padding: 30px;
}

.card-main-img{
    border-radius: 11px;
    width: 100%;
    padding: 20px;
}

.card-title{
    font-size: 24px;
    color: #413960;
    font-weight: 700;
}

.course-card-text{
    font-size: 16px;
    color: #585859;
    margin-bottom: 40px;
}

.info-card-text{
    font-size: 16px;
    color: #585859;
}

.course-card-body{
    margin-bottom: 20px;
}

.card-footer{
    border-top: none;
    background-color: white;
    float: left;
    color: #585859;
    font-weight: 500;
}

.card-footimg1{
    width: 100%;
}

.card-footimg2{
    width: 100%;
}

.info-date{
    float: left;
}

.cal-icon{
    width: 15%;
}

.info-cap{
    float: left;
}

.people-icon{
    width: 100%;
}
